<span ng-mouseleave="reset()" ng-keydown="onKeydown($event)" tabindex="0" role="slider" aria-valuemin="{{valueMin}}" aria-valuemax="{{valueMax}}" aria-valuenow="{{value}}">
    <i ng-repeat="r in range track by $index" ng-mouseenter="enter($index + valueMin)" ng-click="rate($index + valueMin)" class="glyphicon" ng-class="((($index + valueMin >= 0) && ($index + valueMin > value)) || (($index + valueMin <= 0) && ($index + valueMin < value))) && (r.stateOff || 'glyphicon-star-empty') || (r.stateOn || 'glyphicon-star')">
        <span class="sr-only">({{ ($index + valueMin) <= value ? '*' : ' ' }})</span>
    </i>
</span>
